<div class="container-fluid" style="justify-content: center">
  <div class="col">
    <div
      class="h2"
      style="
        padding-bottom: 15px;
        margin-bottom: 40px;
        text-align: center;
        border-bottom: 2px solid rgb(255, 91, 26);
      "
    >
      Iniciar sesión
    </div>
    <form
      *ngIf="habilitado"
      style="justify-content: center"
      [formGroup]="paseadorForm"
      (ngSubmit)="!paseadorForm.invalid && loginPaseador(paseadorForm.value)"
    >
      <div class="row" style="display: flex; justify-content: center">
        <div class="col-5" style="display: block; margin: auto">
          <img
            src="https://media.istockphoto.com/vectors/default-avatar-profile-icon-grey-photo-placeholder-vector-id1018999828"
            alt=""
            style="width: 10vw; display: block; margin: auto"
          />

          <div class="form-group mx-sm-3 mb-2">
            <label for="correo"> Correo </label>
            <input
              id="correo"
              type="text"
              class="form-control"
              formControlName="correo"
              placeholder=""
            />
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                paseadorForm.get('correo').hasError('required') &&
                paseadorForm.get('correo').touched
              "
            >
              Correo necesario
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                paseadorForm.get('correo').touched &&
                paseadorForm.get('correo').hasError('email')
              "
            >
              Formato de correo incorrecto
            </div>
          </div>

          <div class="form-group mx-sm-3 mb-2">
            <label for="identificacion"> Identificacion </label>
            <input
              novalidate
              id="identificacion"
              class="form-control"
              formControlName="identificacion"
              placeholder=""
            />
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                paseadorForm.get('identificacion').hasError('required') &&
                paseadorForm.get('identificacion').touched
              "
            >
              Identificacion requerida
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="paseadorForm.get('identificacion').hasError('minlength')"
            >
              Identificacion muy corta
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding: 30px; justify-content: center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!paseadorForm.valid"
        >
          Ingresar
        </button>
        <button
          type="button"
          class="btn btn-danger ml-3"
          routerLink="../../home"
          (click)="cancelCreation()"
        >
          Cancelar
        </button>
      </div>
    </form>
    <div style="justify-content: center">
      <button
        type="submit"
        style="display: block; margin: auto"
        class="btn btn-primary"
        routerLink="../../home"
        *ngIf="!habilitado"
      >
        Volver al menu principal
      </button>
    </div>
  </div>
</div>
