<div class="container-fluid" id = "tarjetaDetail">

  <p class="h3 p-3">Tarjeta del usuario {{tarjetaDetail.usuario.nombre}}</p>
  <div class="row">

    <div class="col">

        <dt> Número</dt>
        <dd>{{tarjetaDetail.numeroTarjeta}}</dd>
        <dt> tipo</dt>
        <dd>{{tarjetaDetail.tipo}}</dd>
    </div>
    <div class="col">
        <dt>Fecha vencimiento</dt>
        <dd>{{ tarjetaDetail.fechaVencimiento}}</dd>
        <dt >Código seguridad</dt>
        <dd>{{tarjetaDetail.codigoSeguridad}}</dd>
    </div>

  </div>
</div>
