<div class="col">
  <div class="h4">Creación de un hotel</div>
   <form [formGroup]="hotelForm" (ngSubmit)="!hotelForm.invalid && createHotel(hotelForm.value)">

    <div class="form-group mx-sm-3 mb-2">
      <label for="tarifaInicial">
        Tarifa inicial
      </label>
      <input novalidate id="tarifaInicial" class="form-control" formControlName="tarifaInicial" placeholder="tarifaInicial del hotel">
      <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="hotelForm.get('tarifaInicial').hasError('required') && hotelForm.get('tarifaInicial').touched">
        Tarifa inicial requerida
      </div>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="cupoMaximo">
        Cupo Maximo
      </label>
      <input novalidate id="cupoMaximo" class="form-control" formControlName="cupoMaximo" placeholder="cupoMaximo del hotel">
      <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="hotelForm.get('cupoMaximo').hasError('required') && hotelForm.get('cupoMaximo').touched">
        Cupo Maximo requerida
      </div>
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <label for="comidaMascota">
        Comida Mascota
      </label>
      <input novalidate id="comidaMascota" class="form-control" formControlName="comidaMascota" placeholder="comidaMascota del hotel">
      <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="hotelForm.get('comidaMascota').hasError('required') && hotelForm.get('comidaMascota').touched">
        Cupo Maximo requerida
      </div>
    </div>


    <div class="row  m-3">
      <button type="submit" class="btn btn-primary" (click)="!hotelForm.valid">Create</button>
      <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">Cancel</button>
    </div>
  </form>
</div>
