<div class="container-fluid" style="display:flex;">
  <div class="col">
    <h2 style="font-weight: bold;padding-bottom: 5px;text-align: left;">Lista de reservas</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="h5">id</th>
          <th class="h5">tipo</th>
          <th class="h5">estadoPago</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of reservas" (click) = "onSelected(r)">
          <td>
            <dd>{{r.id}}</dd>
          </td>
          <td>
            <dd>{{r.tipo}}</dd>
          </td>
          <td>
            <dd>{{r.estadoPago}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col" style="background-color: goldenrod">
    <h2 class="titulos">Detalle de la Reserva</h2>
    <div *ngIf="selected">
      <app-reserva-detalle [reservaDetail] = "reservaSeleccionada"></app-reserva-detalle>
    </div>
  </div>
</div>

