<div class="container-fluid">
  <div
    class="h2"
    style="
      padding-bottom: 15px;
      margin-bottom: 70px;
      text-align: center;
      border-bottom: 2px solid rgb(255, 91, 26);
    "
  >
    ¿Qué tipo de usuario eres?
  </div>
  <div class="row" style="justify-content: center">
    <div
      class="col-3"
      style="display: block; margin-right: 15px; margin-left: auto"
    >
    <a class="sinSubrayado" routerLink="../../paseadores/login" type="submit">
      <div

        class="card"
        style="width: 15rem; cursor: pointer"
        id="cardUsuario"
      >
        <img
          id="imagenM"
          class="card-img-top"
          src="https://thumbs.dreamstime.com/b/%D1%81-%C3%ADconos-de-estilo-art%C3%ADstico-mittelschnauzer-y-paseador-perros-personal-ni%C3%B1o-cortado-con-mascota-al-aire-libre-ilustraci%C3%B3n-151059414.jpg"
          alt="Card image cap"
          style="
            width: 15rem;
            display: block;
            margin: auto;
            padding: 25px;
            max-height: 253px;
          "
        />
        <div class="card-body">
          <h4
            class="card-title"
            style="text-align: center; color: rgb(226, 42, 57)"
          >
            Paseador
          </h4>
        </div>
      </div>
    </a>
    </div>

    <div
      class="col-3"
      style="display: block; margin-right: auto; margin-left: 15px"
    >
      <a class="sinSubrayado" routerLink="../login" type="submit">
        <div

          class="card"
          style="width: 15rem; cursor: pointer"
          id="cardUsuario"
        >
          <img
            id="imagenM"
            class="card-img-top"
            src="https://image.freepik.com/vector-gratis/persona-mascota-caracter-dueno-mascota-perro-hombre-sosteniendo-manos-su-perro-hombre-ama-su-animal-animal-domestico-lindo-adorable_93083-590.jpg"
            alt="Card image cap"
            style="
              width: 15rem;
              display: block;
              margin: auto;
              padding: 25px;
              max-height: 253px;
            "
          />
          <div class="card-body">
            <h4
              class="card-title"
              style="text-align: center; color: rgb(226, 42, 57)"
            >
              Cliente
            </h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
